EOS_PRODUCT_ID=your_actual_product_id_here
EOS_SANDBOX_ID=your_actual_sandbox_id_here
EOS_DEPLOYMENT_ID=your_actual_deployment_id_here
EOS_CLIENT_ID=your_actual_client_id_here
EOS_CLIENT_SECRET=your_actual_client_secret_here